//! **************************************************************************
// Written by: Map P.20131013 on Tue Feb 13 18:35:49 2018
//! **************************************************************************

SCHEMATIC START;
COMP "Y<1>" LOCATE = SITE "D11" LEVEL 1;
COMP "Y<2>" LOCATE = SITE "E9" LEVEL 1;
COMP "steps<0>" LOCATE = SITE "L13" LEVEL 1;
COMP "Y<3>" LOCATE = SITE "F9" LEVEL 1;
COMP "steps<1>" LOCATE = SITE "L14" LEVEL 1;
COMP "clk" LOCATE = SITE "C9" LEVEL 1;
COMP "rot_a" LOCATE = SITE "K18" LEVEL 1;
COMP "rot_b" LOCATE = SITE "G18" LEVEL 1;
COMP "direction<0>" LOCATE = SITE "H18" LEVEL 1;
COMP "direction<1>" LOCATE = SITE "N17" LEVEL 1;
COMP "X<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "X<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "X<2>" LOCATE = SITE "E11" LEVEL 1;
COMP "X<3>" LOCATE = SITE "F11" LEVEL 1;
COMP "Y<0>" LOCATE = SITE "C11" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "clk_BUFGP/IBUFG" PERIOD = 20 ns HIGH 50%;
SCHEMATIC END;

